body,html{
    height: 100%;
    margin:0 auto;
}   
.section1{
    background: url(../img/Background-kapoci.jpg);
    width: 100%;
    height: 100%;
    padding: 180px;
    text-align: center;
    background-size: cover
}
.Judul1{
    font-family: sans-serif;
    font-weight: 1000;
    font-size: 50px;
    color: black;   
}
.sub-Judul{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 50px;
    color: black;  
    
}
.section2{
    padding:100px 0px;
    background: white;
}
.col-kiri{
    background:wheat ;
}
.col-kanan{
    background: white;
}
.section3{
    min-height: 360px;
    padding : 100px 0px;
    background : white;
}
.link{
    padding: 10px 15px;
    color : black;
}
.link:hover{
    background : wheat;
}