body,html{
    height: 100%;
    margin:0 auto;
}   
.section1{
    background: url(../img/bildung-online-schulungen-fernunterricht_1200-415.jpg);
    width: 100%;
    height: 100%;
    text-align: center;
}
.Judul1{
    font-family: arial;
    font-weight: 1000;
    font-size: 50px;
    color: black;   
}
.sub-Judul1{
    font-family: arial;
    font-weight: 600;
    font-size: 40px;
    color: black;  
    
}
.section2{
    padding:100px 0px;
    background: #ccc;
}
.col-kiri{
    background:lightseagreen ;
}
.col-kanan{
    background: white;
}