body,html{
    height: 100%
    margin:0 auto;
}
.section1{
    background: url(../img/photo-1531736275454-adc48d079ce9.jpg);
    width: 100%;
    height: 100%;
    padding: 200px;
    text-align: center;
    background-size :cover 
}
.Judul1{
    font-family: Agency FB;
    font-weight: 800;
    font-size: 50px;
    color:black;   
}
.sub-judul1{
    font-family: Agency FB;
    font-weight: 600;
    font-size: 40px;
    color: black;   
}
.section2{
    padding:50px 0px;
    background: lemonchiffon;
    text-align: justify;
    font-family: vijaya;
    font-weight: 300;
    font-size: 20px;
}
.bulat{
border-radius:180px;
opacity:100;
border:10px solid #fff;
width:250px;
height:250px;
}
.Judul2{
    font-family: Agency FB;
    font-weight: 800;
    font-size: 40px;
    color:black;   
}
.sub-judul2{
    font-family: vijaya;
    font-weight: 300;
    font-size: 30px;
    color: black;   
}
.col-kiri{
    background:lemonchiffon;
    
}
.col-kanan{
    background: lemonchiffon;
    text-align:center;

}
.section3{
    min-height: 360px;
    padding : 50px 0px;
    background : gold;
    font-family: vijaya;
    font-weight: 500;
    font-size: 26px;
}
.Judul3{
    font-family: Agency FB;
    font-weight: 600;
    font-size: 30px;
    color:black;   
}
.sub-judul3{
    font-family: vijaya;
    font-weight: 300;
    font-size: 30px;
    color: black;   
}
.col-kiri2{
    background:gold;
    
}
.col2{
    background: gold;
}
.col-kanan2{
    background: gold;
}
.section4{
    min-height: 360px;
    padding: 50px 0px;
    background: goldenrod;
    font-family: vijaya;
    font-weight: 500;
    font-size: 26px;
}
.Judul4{
    font-family: Agency FB;
    font-weight: 600;
    font-size: 30px;
    color:black;   
}
.sub-judul4{
    font-family: vijaya;
    font-weight: 300;
    font-size: 30px;
    color: black;   
}
.col-kiri3{
    background:goldenrod;
}
.section5{
    min-height: 30px;
    padding: 10px 0px;
    background: black;
    font-family: Agency FB;
    font-weight: 500;
    font-size: 20px;
    color:white; 
}
.col-kiri4{
    background:black;
}
.link{
    padding: 10px 15px;
    color : black;
}
.link:hover{
    background : gold;
}